@Html.Partial("_LayoutCSS")
<div class="wrapper">
  <div class="container">

    <div class="content">
      <div class="header header-primary text-center">
        <blockquote>
        <h4>我们将根据你的身份证号指引你进行接下来的报名操作</h4>
        </blockquote>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="now-ui-icons users_single-02"></i>
            </span>
            <input type="text" class="form-control" placeholder="请输入你的身份证号">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="now-ui-icons users_single-02"></i>
            </span>
            <input type="text" class="form-control" placeholder="请再次输入你的身份证号">
          </div>
          <div class="category category-absolute text-center">
              <input type="button" class="btn btn-info" value="确定">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
@Html.Partial("_LayoutJS")