@Html.Partial("_LayoutCSS")
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">确认基本信息</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_single-02"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="请输入你的身份证号" id="idNumber" onfocus="hideDiv()" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_single-02"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="请再次输入你的身份证号" id="idNumberRepeat" onfocus="hideDiv()">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio">
                                <input type="radio" name="islocal" id="rdo_local" value="1">
                                <label for="rdo_local" data-toggle="tooltip" data-placement="bottom" title="不包含双阳区、九台区、榆树市、农安县、德惠市" data-container="body" data-animation="true"
                                    data-delay="100">
                                    本市户籍人口
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio">
                                <input type="radio" name="islocal" id="rdo_flocal" value="0">
                                <label for="rdo_flocal" data-toggle="tooltip" data-placement="bottom" title="须持有本市有效居住证" data-container="body" data-animation="true"
                                    data-delay="100">
                                    非本市户籍人口
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-info" onclick="CheckIdNumber()">确定</button>
            </div>
            <div class="alert alert-danger" role="alert" id="wholeTip">
                <div class="container">
                    <div class="alert-icon">
                        <i class="now-ui-icons objects_support-17"></i>
                    </div>
                    <strong>错误！</strong>
                    <span id="tipContent"></span>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LayoutJS")
<script src="~/js/Home/IdNumberConfirm.js"></script>